<section class="vh-90 py-5">
  <div class="container">
    <app-star TitleStar="My Projects" customColor="#2c3e50"></app-star>
    <div class="row g-3 ">
      <div class="col-lg-4 col-md-6 overflow-hidden border border-2 border-black rounded p-3">
        <p class="text-center fw-bolder text-black fs-4">Dashboard</p>
        <figure class="position-relative">
          <img src="./assets/dashboard.jpg" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >

            <a href="https://dashb0000rd.netlify.app/"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/Dashboard.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 overflow-hidden border border-2 border-black rounded p-3">
        <p class="text-center fw-bolder text-black fs-4">Freshcart</p>

        <figure class="position-relative">
          <img src="../../../assets/Freshcart.jpg" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >
            <a href="https://ecommercefrechcart.netlify.app/"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/FreshCart.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 overflow-hidden border border-2 border-black rounded p-3">
        <p class="text-center fw-bolder text-black fs-4">Notes</p>

        <figure class="position-relative">
          <img src="../../../assets/NOTES.jpg" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >
            <a href="https://mynotes-puce.vercel.app"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/Mynotes.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 overflow-hidden border border-2 border-black rounded p-3">
        <p class="text-center fw-bolder text-black fs-4">Game</p>

        <figure class="position-relative">
          <img src="./assets/ftg-img.jpg" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >
            <a href="https://phatma.github.io/Game/"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/Game.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 overflow-hidden border border-2 border-black rounded p-3">
        <p class="text-center fw-bolder text-black fs-4">Quiz</p>

        <figure class="position-relative">
          <img src="../../../assets/quiz.jpg" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >
            <a href="https://phatma.github.io/Quiz-app/"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/Quiz-app.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 overflow-hidden border border-2 border-black rounded p-3">
        <p class="text-center fw-bolder text-black fs-4">Weather </p>

        <figure class="position-relative">
          <img src="./assets/weather.jpg" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >
            <a href="https://phatma.github.io/WeatherApp/"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/WeatherApp.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 overflow-hidden border border-2 border-black rounded p-3">
        <p class="text-center fw-bolder text-black fs-4">Book mark</p>

        <figure class="position-relative">
          <img src="../../../assets/bookmark.jpg.crdownload" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >
            <a href="https://phatma.github.io/BookMark-Assignment-ass-9-JS/"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/BookMark-Assignment-ass-9-JS.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 overflow-hidden border border-2 border-black rounded p-3">
        <p class="text-center fw-bolder text-black fs-4">Login System</p>

        <figure class="position-relative">
          <img src="./assets/login.jpg" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >
            <a href="https://phatma.github.io/loginsystem/"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/loginsystem.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 overflow-hidden border border-2 border-black rounded p-3">
        <p class="text-center fw-bolder text-black fs-4">Yummy</p>

        <figure class="position-relative">
          <img src="./assets/food.jpg" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >
            <a href="https://phatma.github.io/foodReviewer/"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/foodReviewer.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 overflow-hidden border border-2 border-black rounded p-3">
        <p class="text-center fw-bolder text-black fs-4">To Do List</p>

        <figure class="position-relative">
          <img src="./assets/todo.jpg" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >
            <a href="https://phatma.github.io/todolist/"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/todolist.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 overflow-hidden border border-2 border-black rounded p-3">
        <p class="text-center fw-bolder text-black fs-4">Simple Calculator</p>

        <figure class="position-relative">
          <img src="../../../assets/calc.jpg" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >
            <a href="https://phatma.github.io/calculator/"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/calculator.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 overflow-hidden border border-2 border-black rounded p-3">
        <p class="text-center fw-bolder text-black fs-4">Bakery</p>

        <figure class="position-relative">
          <img src="../../../assets/bakery.jpg.crdownload" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >
            <a href="https://phatma.github.io/Bakery/"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/Bakery.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <!-- <div class="col-lg-4 col-md-6 overflow-hidden">
        <figure class="position-relative">
          <img src="./assets/dashboard.jpg" alt="poert" class="w-100 rounded" />
          <figcaption
            class="layer position-absolute d-flex align-items-center justify-content-evenly bg-opacity-50 top-0 start-0 w-100 h-100 bg-gradient rounded"
          >
            <a href="https://dashb0000rd.netlify.app/"
              ><i class="fa-solid fa-link fa-2x fw-semibold text-white"></i>
            </a>
            <a href="https://github.com/PHatma/Dashboard.git">
              <i class="fa-brands fa-github fa-2x fw-semibold text-white"></i>
            </a>
          </figcaption>
        </figure>
      </div> -->
    </div>
  </div>

  <!--  true == Hide, false == Show -->
  <div
    (click)="hideModel($event.target, img)"
    [class.d-none]="flag"
    class="model w-100 h-100 position-fixed start-0 top-0 bg-primary bg-opacity-25 d-flex align-items-center justify-content-center"
  >
    <img #img [src]="modelImg" alt="poert" class="rounded" width="600" />
  </div>
</section>
