<section
  class="bg-sec vh-90 d-flex flex-column justify-content-center align-items-center"
>
  <div class="container">
    <app-star [TitleStar]="title" [customColor]="color"></app-star>
    <div class=" text-white fw-semibold fs-6 w-75 mx-auto">
<p>
  I am a junior angular Web Developer  with a bachelor degree in Computer Science from the Faculty of Science, Cairo University ,
  My graduation project was blood donation app my grade in it was 92 of 100,
 I am Being able to explain complex technical issues in a simple and understandable way to clients, team members, or stakeholders,
 Ability to break down problems into smaller, manageable parts and find creative solutions.,
 Knowing how to prioritize tasks to meet deadlines and handle multiple responsibilities at once,to show my projects please check Portfolio Page🥰 </p>
    </div>
  </div>
</section>
