<footer class="bg-main text-white py-5">
  <div class="container">
    <div class="row g-md-5">
      <div class="col-md-4 text-center">
        <h3>LOCATION</h3>
        <p>6 th of October City </p>
      </div>
      <div class="col-md-4 text-center">
        <h3>AROUND THE WEB</h3>
        <ul class="d-flex justify-content-center list-unstyled" role="button">
          <li>
            <a href="https://github.com/PHatma"><i class="fa-brands fa-github mt-2"></i></a>
          </li>
          <li>
            <a href="/faaatmahaaani@gmail.com"><i class="fa-solid fa-at mt-2"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/phatma-hany-012a51284"><i class="fa-brands fa-linkedin-in mt-2"></i></a>
          </li>
          
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h3>ABOUT Work</h3>
        <p>
          immediately hiring 
        </p>
      </div>
    </div>
  </div>

</footer>

<div class="copy text-center text-white-50">
  <p class="p-0 m-0">Copyright © Your Website 2021</p>
</div>
